<div class="row"><h2>Sign up</h2> </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="row">
    <h3>Account Information</h3>
    <hr>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </div>
  
<div class="row">
  <h3>Personal Information</h3>
  <hr>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.phone_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_field :dob %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, ["Female", "Male"] %>
  </div>

  <div class="field">
    <%= f.label :country %><br />
    <%= f.country_select :country, format: :with_data_attr %>
  </div>

  <div class="field">
    <%= f.label :profile_photo %><br />
    <%= f.file_field :profile_photo %>
  </div>
</div>

<div class="row">
  
  <h3>Professional Information</h3>
  <hr>
  <div class="field">
    <%= f.label :cv %><br />
    <%= f.file_field :cv %>
  </div>

  <% title "Registration" %>
  <div class="field">
    <%= f.label :education_level %><br />
    <%= f.select :education_level, ["PhD", "Master's", "Bachelor's"] %>
  </div>

  <div class="field">
    <%= f.label :specialization %><br />
    <%= f.select :specialization, Discipline.all.map {|d| d.name } %>
  </div>
  
  <div class="field">
    <%= f.label :about %><br />
    <%= f.text_area :about %>
  </div>
  
  <%
=begin%>
 <div class="field">
    <%= f.label :role %><br />
    <%= f.select :role, ["member", "leader", "superadmin"] %>
  </div> 
<%
=end%>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn" %>
  </div>
</div>
<% end %>
<%= render "devise/shared/links" %>
