<div class="about">
    <h2><%= @i.name %>: </h2>
    <p><label>Degree:</label> <%= @i.degree %></p>
    <p><label>University:</label> <%= link_to  @i.university.name, university_path(@i.university) %></p>
    <p><label>Scholarship:</label> <%= @i.scholarship %></p>
    <p><label>Deadline:</label> <%= @i.deadline.strftime("%d/%m/%Y at %H:%M") %></p>
    <p class="lead checkRTL"><%= @i.about.html_safe %></p>
</div>