<div class="container">
    <div class="content">
        <div class="row">
            <h2><%= @j.title %></h2>
        <div>
        <div class="row">
            <div class="col s4">
                <%= image_tag  url_for(@j.cover), style: "max-width: 150px;" %>
            </div>
            <div class="col s8">
                <h5><%= "Issue No. #{@i.number}, #{@i.year}, pp #{@i.pageFrom} - #{@i.pageTo}" %></h5>
                <h6>Coverage: <%= "#{@j.coverageFrom} - #{@j.coverageTo}" %></h6>
                <h6>Published by: <%= link_to  @j.publisher.name, "https://" + @j.publisher.website, target: "_blank" %></h6>
            </div>
        </div>

        <div class="row">
            <h4>Get Access</h4>
            <%= link_to  "Download this issue", url_for(@i.pdf), target: "_blank" %>
        </div>
    </div>
</div>