<div class="section">
    <h2><%= @j.title.humanize %></h2>
<div>
<div class="divider"></div>
<div class="section">
    <div class="col s4">
        <%= document_cover_for(@j.cover) %>
    </div>
    <div class="col s8">
        <h5><%= "Issue No. #{@i.number}, #{@i.year}, pp #{@i.pageFrom} - #{@i.pageTo}" %></h5>
        <h6>Coverage: <%= "#{@j.coverageFrom} - #{@j.coverageTo}" %></h6>
        <h6>Published by: <%= link_to  @j.publisher.name, publisher_path(@j.publisher), target: "_blank" if @j.publisher %></h6>
    </div>
</div>
<div class="divider"></div>
<div class="section">
    <h3>Table of Content</h3>
    <% @i.journal_articles.order_by(:page_to).each_with_index do |article, index| %>
        <div class="" style="margin-left: 30px">
            <a href="<%= journal_article_path(article) %>"><h5><%= "#{index + 1}. #{article.title.humanize}" %> <%= "(pp. #{article.page_from}-#{article.page_to})" if article.page_from && article.page_to %> </h5></a>
            <p>
                By: <%= safe_join(article.authors.map { |a| link_to  a.name.humanize, author_path(a.name) }, ", ").html_safe %>
            </p>
            <br>
        </div>
    <% end %>
</div>