<% title "Journal Issue | #{@j.title} | No. #{@i.number}" %>
<div class="section">
    <h2><%= @j.title.humanize %></h2>
<div>
<hr>
<div class="row">
    <div class="col-sm-2">
        <%= document_cover_for(@j.cover) %>
    </div>
    <div class="col-sm-8">
        <h5><%= "Issue No. #{@i.number}, #{@i.year}, pp #{@i.pageFrom} - #{@i.pageTo}" %></h5>
        <p><label>Journal:</label> <%= link_to @j.title, journal_path(@j) %></p>
        <p><label>Publisher:</label> <%= link_to  @j.publisher.name, publisher_path(@j.publisher), target: "_blank" if @j.publisher %></p>
        <p><label>Coverage:</label> <%= "#{@j.coverageFrom} - #{@j.coverageTo}" %></p>
        <p><label>Library Link:</label> <%= get_library_link(request) %></p>
        <%= show_info_for(@j, [ :language, :isbn, :keywords ]).html_safe %>
        <p><label>Subjects: </label> <%= safe_join(@j.subjects.map { |s| link_to  s.name, subject_path(s.name) }, ",").html_safe %> </p>
    </div>
</div>
<h3>Table of Content</h3>
<hr>
<div class="row">
    <% @i.journal_articles.order_by(:page_to).each_with_index do |article, index| %>
        <div class="" style="margin-left: 30px">
            <a href="<%= journal_article_path(article) %>"><h5><%= "#{index + 1}. #{article.title.humanize}" %> <%= "(pp. #{article.page_from}-#{article.page_to})" if article.page_from && article.page_to %> </h5></a>
            <p>
                By: <%= safe_join(article.authors.map { |a| link_to  a.name.humanize, author_path(a.name) }, ", ").html_safe %>
            </p>
            <br>
        </div>
    <% end %>
</div>