<h2 class="page-title"><%= @country.name %> References</h2>
<br>
<br>
<table>
    <tr>
        <th>Author</th>
        <th>Type</th>
        <th>Title</th>
        <th>Publisher</th>
        <th>Publication Year</th>
    </tr>
    <% @country.country_references.each do |r|%>
        <tr>
            <td><%= r.author %></td>
            <td><%= r.reference_type %></td>
            <td><%= r.title %></td>
            <td><%= r.publisher %></td>
            <td><%= r.publication_year %></td>
        </tr>
    <% end %>
</table>