<div class="container">
    <h1 class="page-title"><%= @period ? @period.capitalize : "" %> Conferences in <%= @country.name %></h1>
    <%= filters_and_order_for(country_conferences_path(@country), ["category", "period"], params)%>
    <div class="row">
    <% @conferences.each do |i| %>
        <%= card_for(i.name, 
                    {"City"=> i.city.name,
                     "Dates" => "#{i.from_date.strftime('%d/%m/%Y')} - #{i.to_date.strftime('%d/%m/%Y')}"},
                    country_conference_path(@country, i), 3) %>
    <% end %>
    </div>
    <%= paginate @conferences %>
</div>

