<% if view == :detailed %>
    <a href="<%= academic_paper_path(p) %>"><h4><%= p.title %></h4></a>
    <p><label>Author(s): </label><%= safe_join(p.authors.map { |s| link_to  s.name, author_path(s.name) }, ", ").html_safe %> </p>
    <p><label>Paper Type: </label> <%= p.paper_type %> </p>
    <p><label>Publication Year: </label> <%= p.publication_year %> </p>
    <p><label>Subjects: </label> <%= safe_join(p.subjects.map { |s| link_to  s.name, subject_path(s.name) }, ", ").html_safe %> </p>
    <p><label>Keywords: </label> <%= p.keywords %> </p>
<% else %>

    <td><%= p.library_id %></td>
    <td><%= p.paper_type %></td>
    <td><%= safe_join(p.authors.map { |s| link_to  s.name, author_path(s.name) }, ", ").html_safe %></td>                        
    <td><a href="<%= academic_paper_path(p) %>"><%= p.title %></a></td>
    <td>N/A</td>
    <td><%= p.publication_year if p.publication_year %></td>
    <td><%= p.language if p.language %></td>

<% end %>