<div class="col s12 m9 result-section">
    <% if params[:q] == nil%>
        <h4>Please enter a search term.</h4>        
    <% elsif categorized_results.length > 0 && params[:q] != "" %>
        <% categorized_results.each do |r| %>
            <div class="row">
                <div class="col s12 m8">
                    <div class="content-type-name">
                        <%= r.class.name.humanize %>
                    </div>
                    <% if r.class.name == "Book" %>
                        <a href="<%= book_path(r) %>"><h4><%= r.title %></h4></a>
                        <p><b>Author(s): </b><%= safe_join(r.authors.map { |s| link_to  s.name, author_path(s.name) }, ", ").html_safe %> </p>
                        <p><b>ISBN: </b> <%= r.isbn %> </p>
                    <% elsif r.class.name == "Journal" %>
                        <a href="<%= journal_path(r) %>"><h4><%= r.title %></h4></a>
                        <p><b>ISBN: </b> <%= r.isbn %> </p>
                        <p><b>Coverage Years: </b> <%= "#{r.coverageFrom} - #{r.coverageTo}" %> </p>
                    <% else %>
                        <a href="<%= academic_paper_path(r) %>"><h4><%= r.title %></h4></a>
                        <p><b>Author(s): </b><%= safe_join(r.authors.map { |s| link_to  s.name, author_path(s.name) }, ", ").html_safe %> </p>
                        <p><b>Paper Type: </b> <%= r.paper_type %> </p>
                        <p><b>Publication Year: </b> <%= r.publication_year %> </p>
                    <% end %>
                    <p><b>Subjects: </b> <%= safe_join(r.subjects.map { |s| link_to  s.name, subject_path(s.name) }, ",").html_safe %> </p>
                    <p><b>Keywords: </b> <%= r.keywords %> </p>
                </div>
                <div class="col s12 m4">
                    <% if r.class.name == "Book" || r.class.name == "Journal" %>
                        <% if r.cover.attached? %>
                            <%= image_tag  url_for(r.cover), style: "max-width: 150px; margin-bottom: 20px;" if r.cover.attached? %>
                        <% else %>
                            <%= image_tag  "no-thumb.jpg", style: "max-width: 150px; margin-bottom: 20px;" %>                                    
                        <% end %>
                    <% else %>
                        <%= image_tag  "no-thumb.jpg", style: "max-width: 150px; margin-bottom: 20px;" %>                                    
                    <% end %>
                </div>
            </div>
            <hr style="margin-bottom: 25px;">
        <% end %>
        <%= paginate categorized_results %>
    <% elsif params[:q] == "" %>
        <h4>Please enter a search term.</h4>
    <% elsif params[:q] != "" && categorized_results.length == 0 %>
        <h4>Sorry, but nothing matches your search.</h4>                    
    <% end %>        
</div>
