<% if model.try(:journal_articles) %>
    <a class="waves-effect waves-light btn <%= params[:document_type] == "journal_articles" ? "disabled" : "nothing" %>" href="?document_type=journal_articles">Journal Articles</a>
<% end %>
<% if model.try(:journals) %>
    <a class="waves-effect waves-light btn <%= params[:document_type] == "journals" ? "disabled" : "nothing" %>" href="?document_type=journals">Journals</a>
<% end %>
<% if model.try(:academic_papers) %>
    <a class="waves-effect waves-light btn <%= params[:document_type] == "academic_papers" ? "disabled" : "nothing" %>" href="?document_type=academic_papers">Academic Papers</a>
<% end %>
<% if model.try(:books) %>
    <a class="waves-effect waves-light btn <%= params[:document_type] == "books" ? "disabled" : "nothing" %>" href="?document_type=books">Books</a>
<% end %>


<div class="subjects-items-container">        
    <% if params[:document_type] == "books" %>
        <% if model.books %>
            <%= render partial: "shared/documents_table", locals: {documents: model.books} %>
        <% end %>
    <% elsif params[:document_type] == "journals" && model.class.name != "Author" %>
        <% if model.journals %>
            <%= render partial: "shared/documents_table", locals: {documents: model.journals} %>
        <% end %>
    <% elsif params[:document_type] == "academic_papers" && model.class.name != "Publisher" %>
        <% if model.academic_papers %>
            <%= render partial: "shared/documents_table", locals: {documents: model.academic_papers} %>
        <% end %>
    <% elsif params[:document_type] == "journal_articles" && model.class.name != "Publisher" %>
        <% if model.try(:journal_articles) %>
            <%= render partial: "shared/documents_table", locals: {documents: model.journal_articles} %>
        <% end %>
    <% end %>
</div>