<% if model.class.name != "Supervisor" %>
    <a class="waves-effect waves-light btn <%= params[:document_type] == "books" ? "disabled" : "nothing" %>" href="?document_type=books">Books</a>
<% end %>
<% if model.class.name != "Author" && model.class.name != "Supervisor" %>
    <a class="waves-effect waves-light btn <%= params[:document_type] == "journals" ? "disabled" : "nothing" %>" href="?document_type=journals">Journals</a>
<% end %>
<% if model.class.name != "Publisher" %>
    <a class="waves-effect waves-light btn <%= params[:document_type] == "academic_papers" ? "disabled" : "nothing" %>" href="?document_type=academic_papers">Academic Papers</a>
<% end %>

<div class="subjects-items-container">        
    <% if params[:document_type] == "books" %>
        <% if model.books %>
            <%= render partial: "shared/documents_table", locals: {documents: model.books} %>
        <% end %>
    <% elsif params[:document_type] == "journals" && model.class.name != "Author" %>
        <% if model.journals %>
            <%= render partial: "shared/documents_table", locals: {documents: model.journals} %>
        <% end %>
    <% elsif params[:document_type] == "academic_papers" && model.class.name != "Publisher" %>
        <% if model.academic_papers %>
            <%= render partial: "shared/documents_table", locals: {documents: model.academic_papers} %>
        <% end %>
    <% end %>
</div>