<% if view == :detailed %>
    <a href="<%= journal_path(j) %>"><h4><%= j.title %></h4></a>
    <p><b>ISBN: </b> <%= j.isbn %> </p>
    <p><b>Coverage Years: </b> <%= "#{j.coverageFrom} - #{j.coverageTo}" %> </p>
    <p><b>Subjects: </b> <%= safe_join(j.subjects.map { |s| link_to  s.name, subject_path(s.name) }, ",").html_safe %> </p>
    <p><b>Keywords: </b> <%= j.keywords %> </p>
<% else %>
    <td><%= j.library_id %></td>
    <td><%= j.class.name %></td>
    <td>N/A</td>
    <td><a href="<%= journal_path(j) %>"><%= j.title %></a></td>
    <td><a href="<%= publisher_path(j.publisher) if j.publisher %>"><%= j.publisher.name if j.publisher %></a></td>                        
    <td><%= j.coverageFrom %> - <%= j.coverageTo %></td>
    <td><%= j.language %> <%= "& #{j.second_language}" if j.second_language %></td>
<% end %>