<% if view == :detailed %>
    <a href="<%= journal_path(j) %>"><h4><%= arabic_title ? j.arabic_title : j.title %></h4></a>
    <% if !j.isbn.empty? %><p><label>ISBN: </label> <%= j.isbn %> </p><% end %>
    <% if j.coverageFrom &&  j.coverageTo %><p><label>Coverage Years: </label> <%= "#{j.coverageFrom} - #{j.coverageTo}" %> </p><% end %>
    <% if j.subjects.length > 0 %><p><label>Subjects: </label> <%= safe_join(j.subjects.map { |s| link_to  s.name, subject_path(s.name) }, ", ").html_safe %> </p><% end %>
    <% if !j.keywords.empty? %><p><label>Keywords: </label> <%= j.keywords %> </p><% end %>    
<% else %>
    <td><%= j.library_id %></td>
    <td><%= j.class.name %></td>
    <td>N/A</td>
    <td><a href="<%= journal_path(j) %>"><%= j.title %></a></td>
    <td><a href="<%= publisher_path(j.publisher) if j.publisher %>"><%= j.publisher.name if j.publisher %></a></td>                        
    <td><%= "#{j.coverageFrom}-#{j.coverageTo}" if j.coverageFrom && j.coverageTo %></td>
    <td><%= j.language %> <%= "& #{j.second_language}" if !j.second_language.empty? %></td>
<% end %>