<div class="container">
    <div class="content">
        <h1>Browse by Publisher</h1>

        <div class="letters-container">
            <ul class="pagination">
                <% [*('A'..'Z')].each do |l| %>
                    <li><a href="#<%= l %>"><%= l %></a></li>
                <% end %>
            </ul>
        </div>

        <div class="subjects-container">
            <% @publishers_alphabetical.each do |letter, publishers| %>
                <h3 id="<%= letter %>"><%= letter %></h3>
                <ul>
                    <% publishers.each do |p|%>
                        <li><%= link_to  p.name.capitalize, publisher_path(p.id) %></li>
                    <% end %>
                </ul>
            <% end %>
        </div>
    </div>
</div>