<div class="container">
    <div class="content">
        <%= filters_and_order_for(library_basic_search_path, [], params) %>
        <div class="content row">
            <div class="col s12 m3 filter-section">
                <h3>Filter Results</h3>
                <form action="<%= library_basic_search_path %>">
                    <input name="q" type="hidden" value="<%= params[:q] %>">
                    <div style="margin-top: 20px;" class="filter">
                        <h5>Content Type:</h5>
                        <div class="checkboxes">
                            <label>
                                <%= check_box_tag "journals", nil, params[:journals] == "on", onChange: "this.form.submit();" %>
                                <span>Journals</span>
                            </label>
                            <br>
                            <label>
                                <%= check_box_tag "books", nil, params[:books] == "on", onChange: "this.form.submit();" %>
                                <span>Books</span>
                            </label>
                            <label>
                                <%= check_box_tag "academic_papers", nil, params[:academic_papers] == "on", onChange: "this.form.submit();" %>
                                <span>Academic Papers</span>
                            </label>
                        </div>
                    </div>
                    <div class="filter">
                        <h5>Publication Year:</h5>
                        <div class="col s12 m6">
                            <input name="from_year" type="number" placeholder="From" value="<%= params[:from_year] %>">
                        </div>
                        <div class="col s12 m6">
                            <input name="to_year" type="number" placeholder="To" value="<%= params[:to_year] %>">
                        </div>
                        <input class="btn-small" type="submit" value="Apply">
                    </div>
                    <div class="filter">
                        <h5>Subjects: </h5>
                        <div class="checkboxes">
                            <% Subject.all.each do |s| %>
                                <label style="margin-right: 5px;">
                                    <%= check_box_tag "search[subjects][]", s.name, params[:search].nil? ? false : params[:search][:subjects].include?(s.name), onChange: "this.form.submit();" %>
                                    <span><%= "#{s.name} (#{s.code})" %></span>
                                </label>
                            <% end %>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col s12 m9 result-section">
                <% if @search_results %>
                    <% @search_results.each do |r| %>
                        <div class="row">
                            <div class="col s12 m9">
                                <div class="content-type-name">
                                    <%= r.searchable_type %>
                                </div>
                                <% if r.searchable_type == "Book" %>
                                    <a href="<%= book_path(r.searchable_id) %>"><h4><%= item = Book.find(r.searchable_id); item.title %></h4></a>
                                <% elsif r.searchable_type == "Journal" %>
                                    <a href="<%= journal_path(r.searchable_id) %>"><h4><%= item = Journal.find(r.searchable_id); item.title %></h4></a>
                                <% elsif r.searchable_type == "AcademicPaper" %>
                                    <a href="<%= academic_paper_path(r.searchable_id) %>"><h4><%= item = AcademicPaper.find(r.searchable_id); item.title %></h4></a>
                                <% end %>
                                <p><%= r.content.truncate(100) %></p>
                                <p><b>Subjects: </b> <%= safe_join(item.subjects.map { |s| link_to  " #{s.name} (#{s.code})", subject_path(s.name) }, ",").html_safe %> </p>
                                <p><b>Keywords: </b> <%= item.keywords %> </p>
                            </div>
                        </div>
                        <hr style="margin-bottom: 50px;">
                    <% end %>
                <% else %>
                    <h4>Please enter a search term.</h4>
                <% end %>
            </div>
        </div>
    </div>
</div>

<%= console %>