<div class="container">
    <div class="content">
        <div class="content row">
            <div class="col s12 m3 filter-section">
                <h3>Filter Results</h3>
                <form action="<%= library_basic_search_path %>">
                    <%= search_bar_for("q", params) %>
                    <div class="filter">
                        View:
                        <%= radio_button_for("view", "simple", true, params) %>
                        <%= radio_button_for("view", "detailed", true, params) %>                        
                    </div>
                    <div class="filter">
                        Results Per Page:
                        <%= text_input_for("results_per_page", "1-100", "number", params)%>
                        <input class="btn-small" type="submit" value="Apply">
                    </div>
                    <div class="filter">
                        Search Field:
                        <%= radio_button_for("field", "all", true, params) %>
                        <%= radio_button_for("field", "title", false, params) %>
                        <%= radio_button_for("field", "author", false, params) %>
                        <%= radio_button_for("field", "publisher", false, params) %>
                    </div>
                    <div class="filter">
                        Content Type:
                        <%= check_box_for("journals", params) %>
                        <%= check_box_for("books", params) %>
                        <%= check_box_for("academic_papers", params) %>                        
                    </div>
                    <div class="filter">
                        <% if params[:academic_papers] == "on" || (params[:books].nil? && params[:academic_papers].nil? && params[:journals].nil?) %>
                            Academic Paper Type:
                            <%= check_box_for("dissertations", params) %>
                            <%= check_box_for("conference_papers", params) %>
                        <% end %>
                    </div>
                    <div class="filter">
                        Publication Year:
                        <%= text_input_for("from_year", "From", "number", params)%>
                        <%= text_input_for("to_year", "To", "number", params)%>
                        <input class="btn-small" type="submit" value="Apply">
                    </div>
                    <div class="filter">
                        Subjects:
                        <% Subject.all.each do |s| %>
                            <label style="margin-right: 5px;">
                                <%= check_box_tag "search[subjects][]", s.name, params[:search].nil? ? false : params[:search][:subjects].include?(s.name), onChange: "this.form.submit();" %>
                                <span><%= "#{s.name} (#{s.code})" %></span>
                            </label>
                        <% end %>
                    </div>
                </form>
            </div>
            <div class="col s12 m9 result-section">
                <% if @categorized_results && params[:q] != "" %>
                    <% @categorized_results.each do |r| %>
                        <div class="row">
                            <div class="col s12 m8">
                                <div class="content-type-name">
                                    <%= r.class.name %>
                                </div>
                                <% if r.class.name == "Book" %>
                                    <a href="<%= book_path(r) %>"><h4><%= r.title %></h4></a>
                                    <p><b>Author(s): </b> <%= r.author %> </p>
                                    <p><b>ISBN: </b> <%= r.isbn %> </p>
                                <% elsif r.class.name == "Journal" %>
                                    <a href="<%= journal_path(r) %>"><h4><%= r.title %></h4></a>
                                    <p><b>ISBN: </b> <%= r.isbn %> </p>
                                    <p><b>Coverage Years: </b> <%= "#{r.coverageFrom} - #{r.coverageTo}" %> </p>
                                <% else %>
                                    <a href="<%= academic_paper_path(r) %>"><h4><%= r.title %></h4></a>
                                    <p><b>Author(s): </b> <%= r.author %> </p>
                                    <p><b>Paper Type: </b> <%= r.paper_type %> </p>
                                    <p><b>Publication Year: </b> <%= r.publication_year %> </p>
                                <% end %>
                                <% if params[:view] == "detailed" %>
                                    <p><b>Subjects: </b> <%= safe_join(r.subjects.map { |s| link_to  s.name, subject_path(s.name) }, ",").html_safe %> </p>
                                    <p><b>Keywords: </b> <%= r.keywords %> </p>
                                <% end %>
                            </div>
                            <div class="col s12 m4">
                                <% if r.class.name == "Book" %>
                                    <%= image_tag  url_for(r.cover), style: "max-width: 150px; margin-bottom: 20px;" %>
                                <% elsif r.class.name == "Journal" %>
                                    <%= image_tag  url_for(r.cover), style: "max-width: 150px; margin-bottom: 20px;" %>
                                <% else %>
                                    <%= image_tag  "no-thumb.jpg", style: "max-width: 150px; margin-bottom: 20px;" %>                                    
                                <% end %>
                            </div>
                        </div>
                        <hr style="margin-bottom: 25px;">
                    <% end %>
                <% else %>
                    <h4>Please enter a search term.</h4>
                <% end %>
                <% if params[:q] != "" && @categorized_results.length == 0 %>
                    <h4>Sorry, but nothing matches your search.</h4>                    
                <% end %>
                <%= paginate @categorized_results %>
            </div>
        </div>
    </div>
</div>