<div class="container">
    <div class="content">
        <div class="content row">
            <div class="col s12 m3 filter-section">
                <h3>Filter Results</h3>
                <form action="<%= library_basic_search_path %>">
                    <%= search_bar_for("q", params) %>
                    <div class="filter">
                        View:
                        <%= radio_button_for("view", "simple", true, params) %>
                        <%= radio_button_for("view", "detailed", true, params) %>                        
                    </div>
                    <div class="filter">
                        Results Per Page:
                        <%= text_input_for("results_per_page", "1-100", "number", params)%>
                        <input class="btn-small" type="submit" value="Apply">
                    </div>
                    <div class="filter">
                        Search Field:
                        <%= radio_button_for("field", "all", true, params) %>
                        <%= radio_button_for("field", "title", false, params) %>
                        <%= radio_button_for("field", "author", false, params) %>
                        <%= radio_button_for("field", "publisher", false, params) %>
                    </div>
                    <div class="filter">
                        Content Type:
                        <%= check_box_for("journals", params) %>
                        <%= check_box_for("books", params) %>
                        <%= check_box_for("academic_papers", params) %>                        
                    </div>
                    <div class="filter">
                        <% if params[:academic_papers] == "on" || (params[:books].nil? && params[:academic_papers].nil? && params[:journals].nil?) %>
                            Academic Paper Type:
                            <%= check_box_for("dissertations", params) %>
                            <%= check_box_for("conference_papers", params) %>
                        <% end %>
                    </div>
                    <div class="filter">
                        Publication Year:
                        <%= text_input_for("from_year", "From", "number", params)%>
                        <%= text_input_for("to_year", "To", "number", params)%>
                        <input class="btn-small" type="submit" value="Apply">
                    </div>
                    <div class="filter">
                        Subjects:
                        <% Subject.all.each do |s| %>
                            <label style="margin-right: 5px;">
                                <%= check_box_tag "search[subjects][]", s.name, params[:search].nil? ? false : params[:search][:subjects].include?(s.name), onChange: "this.form.submit();" %>
                                <span><%= "#{s.name} (#{s.code})" %></span>
                            </label>
                        <% end %>
                    </div>
                </form>
            </div>
            <% if params[:view] == "detailed" %>
                <%= render partial: "shared/detailed_view", locals: {params: params, categorized_results: @categorized_results} %>
            <%else%>
                <%= render partial: "shared/simple_view", locals: {params: params, categorized_results: @categorized_results} %>
            <%end%>
            
        </div>
    </div>
</div>