<div class="container">
    <div class="content">
        <div class="content row">
            <div class="col s12 m3 filter-section">
                <h3>Filter Results</h3>
                <form action="<%= library_basic_search_path %>">
                    <%= search_bar_for("q", params) %>
                    <div class="filter">
                        View:
                        <%= radio_button_for("view", "simple", true, params) %>
                        <%= radio_button_for("view", "detailed", true, params) %>                        
                    </div>
                    <div class="filter">
                        Results Per Page:
                        <select name="results_per_page" onChange="this.form.submit()">
                            <option value="5" <%= params[:results_per_page] == "5" ? "selected" : "not_selected" %>>5</option>
                            <option value="10" <%= params[:results_per_page] == "10" ? "selected" : "not_selected" %>>10</option>
                            <option value="20" <%= params[:results_per_page] == "20" ? "selected" : "not_selected" %>>20</option>
                            <option value="50" <%= params[:results_per_page] == "50" ? "selected" : "not_selected" %>>50</option>
                        </select>
                    </div>
                    <div class="filter">
                        Search Field:
                        <%= radio_button_for("field", "all", true, params) %>
                        <%= radio_button_for("field", "title", false, params) %>
                        <%= radio_button_for("field", "author", false, params) %>
                        <%= radio_button_for("field", "publisher", false, params) %>
                    </div>
                    <div class="filter">
                        Content Type:
                        <%= check_box_for("journals", params) %>
                        <%= check_box_for("books", params) %>
                        <%= check_box_for("dissertations", params) %>
                        <%= check_box_for("conference_papers", params) %>                     
                    </div>
                    <div class="filter">
                        Publication Year:
                        <%= text_input_for("from_year", "From", "number", params)%>
                        <%= text_input_for("to_year", "To", "number", params)%>
                        <input class="btn-small" type="submit" value="Apply">
                    </div>
                    <div class="filter">
                        Language:
                        <%= render partial: "shared/languages_select", locals: {params: params} %>
                    </div>
                    <div class="filter">
                        Author(s):
                        <br>
                        <button type="button" class="btn-small" data-toggle="modal" data-target="#authors-modal">
                            Choose Authors
                        </button>
                        <div class="modal fade" id="authors-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Choose Authors</h5>
                                    </div>
                                    <div class="modal-body">
                                        <% Author.all.each do |a| %>
                                            <label style="margin-right: 5px;">
                                                <%= check_box_tag "authors[]", a.name, params[:authors].nil? ? false : params[:authors].include?(a.name) %>
                                                <span><%= a.name %></span>
                                            </label>
                                            &#8195;
                                        <% end %>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <input class="btn btn-primary" type="submit" value="Apply">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter">
                        Subjects:
                        <br>
                        <button type="button" class="btn-small" data-toggle="modal" data-target="#subjects-modal">
                            Choose subjects
                        </button>
                        <div class="modal fade" id="subjects-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Choose subjects</h5>
                                    </div>
                                    <div class="modal-body">
                                        <% Subject.all.each do |s| %>
                                            <label style="margin-right: 5px;">
                                                <%= check_box_tag "subjects][]", s.name, params[:subjects].nil? ? false : params[:subjects].include?(s.name) %>
                                                <span><%= "#{s.name} (#{s.code})" %></span>
                                            </label>
                                            &#8195;
                                        <% end %>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <input class="btn btn-primary" type="submit" value="Apply">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <% if params[:view] == "detailed" %>
                <%= render partial: "shared/detailed_view", locals: {params: params, categorized_results: @categorized_results} %>
            <%else%>
                <%= render partial: "shared/simple_view", locals: {params: params, categorized_results: @categorized_results} %>
            <%end%>
            
        </div>
    </div>
</div>