<div class="container">
    <div class="content">
        <div class="content row">
            <div class="col s12 m3 filter-section">
                <h3>Filter Results</h3>
                <form action="<%= library_basic_search_path %>">
                    <nav>
                        <div class="nav-wrapper">
                            <div class="input-field">
                                <input  id="search" type="search" name="q" value="<%= params[:q] %>" required>
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </div>
                    </nav>
                    <div class="filter">
                        View:
                        <label>
                            <%= radio_button_tag "view", nil, params[:view] == "simple", onChange: "this.form.submit();", value: "simple" %>
                            <span>Simple</span>
                        </label>
                        <label>
                            <%= radio_button_tag "view", nil, params[:view] == "detailed", onChange: "this.form.submit();", value: "detailed" %>
                            <span>Detailed</span>
                        </label>
                    </div>
                    <div class="filter">
                        Results Per Page:
                        <div class="input-field inline">
                            <input name="results_per_page" value="<%= params[:results_per_page] %>" type="number">
                        </div>
                        <input class="btn-small" type="submit" value="Apply">
                    </div>
                    <div class="filter">
                        Search Field:
                        <label>
                            <%= radio_button_tag "field", nil, params[:field] == "all", onChange: "this.form.submit();", value: "all", selected: true %>
                            <span>All</span>
                        </label>
                        <label>
                            <%= radio_button_tag "field", nil, params[:field] == "title", onChange: "this.form.submit();", value: "title" %>
                            <span>Title</span>
                        </label>
                        <label>
                            <%= radio_button_tag "field", nil, params[:field] == "author", onChange: "this.form.submit();", value: "author" %>
                            <span>Author</span>
                        </label>
                        <label>
                            <%= radio_button_tag "field", nil, params[:field] == "publisher", onChange: "this.form.submit();", value: "publisher" %>
                            <span>Publisher</span>
                        </label>
                    </div>
                    <div class="filter">
                        Content Type:
                        <label>
                            <%= check_box_tag "journals", nil, params[:journals] == "on", onChange: "this.form.submit();" %>
                            <span>Journals</span>
                        </label>
                        <label>
                            <%= check_box_tag "books", nil, params[:books] == "on", onChange: "this.form.submit();" %>
                            <span>Books</span>
                        </label>
                        <label>
                            <%= check_box_tag "academic_papers", nil, params[:academic_papers] == "on", onChange: "this.form.submit();" %>
                            <span>Academic Papers</span>
                        </label>
                    </div>
                    <div class="filter">
                        Publication Year:
                        <div class="input-field inline">
                            <input name="from_year" type="number" placeholder="From" value="<%= params[:from_year] %>">
                        </div>
                        -
                        <div class="input-field inline">
                            <input name="to_year" type="number" placeholder="To" value="<%= params[:to_year] %>">
                        </div>
                        <input class="btn-small" type="submit" value="Apply">
                    </div>
                    <div class="filter">
                        Subjects:
                        <% Subject.all.each do |s| %>
                            <label style="margin-right: 5px;">
                                <%= check_box_tag "search[subjects][]", s.name, params[:search].nil? ? false : params[:search][:subjects].include?(s.name), onChange: "this.form.submit();" %>
                                <span><%= "#{s.name} (#{s.code})" %></span>
                            </label>
                        <% end %>
                    </div>
                </form>
            </div>
            <div class="col s12 m9 result-section">
                <% if @categorized_results && params[:q] != "" %>
                    <% @categorized_results.each do |r| %>
                        <div class="">
                            <div class="">
                                <div class="content-type-name">
                                    <%= r.class.name %>
                                </div>
                                <% if r.class.name == "Book" %>
                                    <a href="<%= book_path(r) %>"><h4><%= r.title %></h4></a>
                                    <p><b>Author(s): </b> <%= r.author %> </p>
                                    <p><b>ISBN: </b> <%= r.isbn %> </p>

                                <% elsif r.class.name == "Journal" %>
                                    <a href="<%= journal_path(r) %>"><h4><%= r.title %></h4></a>
                                    <p><b>ISBN: </b> <%= r.isbn %> </p>
                                    <p><b>Coverage Years: </b> <%= "#{r.coverageFrom} - #{r.coverageTo}" %> </p>
                                <% else %>
                                    <a href="<%= academic_paper_path(r) %>"><h4><%= r.title %></h4></a>
                                    <p><b>Author(s): </b> <%= r.author %> </p>
                                    <p><b>Paper Type: </b> <%= r.paper_type %> </p>
                                    <p><b>Publication Year: </b> <%= r.publication_year %> </p>
                                <% end %>
                                <% if params[:view] == "detailed" %>
                                    <p><b>Subjects: </b> <%= safe_join(r.subjects.map { |s| link_to  s.name, subject_path(s.name) }, ",").html_safe %> </p>
                                    <p><b>Keywords: </b> <%= r.keywords %> </p>
                                <% end %>
                            </div>
                        </div>
                        <hr style="margin-bottom: 25px;">
                    <% end %>
                <% else %>
                    <h4>Please enter a search term.</h4>
                <% end %>
                <% if params[:q] != "" && @categorized_results.length == 0 %>
                    <h4>Sorry, but nothing matches your search.</h4>                    
                <% end %>
                <%= paginate @categorized_results %>
            </div>
        </div>
    </div>
</div>