<div class="container">
    <div class="content">
        <div class=" row search-container">
            <div class="search-content">
                <h3>Search journals and books</h3>
                <nav>
                    <div class="nav-wrapper">
                        <form id="search-form" action="<%= library_path %>" method="get">
                            <div class="input-field">
                                <input name="q" id="search" type="search" required>
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </div>
                </nav>
                <hr>
                <div class="filter-section">
                    <div class="filter">
                        <h5>View:</h5>
                        <div class="radio-buttons">
                            <label>
                                <input name="view" type="radio" checked />
                                <span>Simple</span>
                            </label>
                            <label>
                                <input name="view" type="radio" />
                                <span>Detailed</span>
                            </label>
                        </div>
                    </div>
                    <div class="filter">
                        <h5>Search Field:</h5>
                        <div class="radio-buttons">
                            <label>
                                <input name="search-field" type="radio" checked />
                                <span>Title</span>
                            </label>
                            <label>
                                <input name="search-field" type="radio" />
                                <span>Author(s)</span>
                            </label>
                            <label>
                                <input name="search-field" type="radio" />
                                <span>Publisher</span>
                            </label>
                            <label>
                                <input name="search-field" type="radio" />
                                <span>ISBN</span>
                            </label>
                            <label>
                                <input name="search-field" type="radio" />
                                <span>Tags</span>
                            </label>
                        </div>
                    </div>
                    <div class="filter">
                        <h5>Document Type:</h5>
                        <div class="radio-buttons">
                            <label>
                                <input name="document_type" type="radio" checked />
                                <span>Books</span>
                            </label>
                            <label>
                                <input name="document_type" type="radio" />
                                <span>Journal Articles</span>
                            </label>
                            <label>
                                <input name="document_type" type="radio" />
                                <span>Master/PhD Dissertations</span>
                            </label>
                            <label>
                                <input name="document_type" type="radio" />
                                <span>Conference Papers</span>
                            </label>
                        </div>
                    </div>
                    <div class="filter">
                        <h5>Subjects: </h5>
                        <div class="checkboxes">
                            <% Subject.all.each do |s| %>
                                <label style="margin-right: 15px;">
                                    <%= check_box_tag "search[subjects][]", s.name, params[:search].nil? ? false : params[:search][:subjects].include?(s.name), onChange: "this.form.submit();" %>
                                    <span><%= "#{s.name} (#{s.code})" %></span>
                                </label>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row browse-link" style="display: none;">
            <h3>Browse by:</h3>
            <%= link_to  "Subject", subjects_path, class: "waves-effect waves-light btn" %>
            <%= link_to  "Title", library_browse_path(:letter => "0-9"), class: "waves-effect waves-light btn" %>
            <%= link_to  "Publisher", publishers_path, class: "waves-effect waves-light btn" %>
        </div>
    </div>
</div>