<% title "Library" %>
<div class=" row search-container">
    <div class="search-content">
        <h3>Search Books, Journals, and Academic Papers</h3>
        <form action="<%= library_basic_search_path %>">
            <nav>
                <div class="nav-wrapper">
                    <div class="input-field">
                        <input name="q" id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </div>
            </nav>
        </form>
    </div>
</div>
<div class="row browse-link">
    <div class="col-sm-5">
        <%= link_to  "Browse Arabic Journals", journals_path(:language => :arabic), class: "waves-effect waves-light btn" %>
    </div>
    <div class="col-sm-5">
        <%= link_to  "Browse English Journals", journals_path(:language => :english), class: "waves-effect waves-light btn" %>
    </div>
</div>

<h3>Browse by discipline:</h3>
<div class="row">
    <% @disciplines.each do |d| %>
        <%= card_for(d.name, 
            { },
            discipline_path(d.name),
            3,
            d.photo) %>
    <% end %>
</div>

<div class="row browse-link" style="display: none;">
    <h3>Browse by:</h3>
    <%= link_to  "Subject", subjects_path, class: "waves-effect waves-light btn" %>
    <%= link_to  "Title", library_browse_path(:letter => "0-9"), class: "waves-effect waves-light btn" %>
    <%= link_to  "Publisher", publishers_path, class: "waves-effect waves-light btn" %>
</div>