<div class="container">
    <div class="content">
        <div class="row">
            <div class="col s12 m3 l2">
                <%= image_tag  url_for(@b.cover), style: "max-width: 150px; margin-bottom: 20px;" %>
            </div>
            <div class="col s12 m5 l6" style="float: left;">
                <h2 class="title"><%= @b.title %></h2>
                <hr>
                <p>Author(s): <%= safe_join(@b.authors.map { |s| link_to  s.name, author_path(s.name) }, ", ").html_safe %></p>
                <p>Publisher: <%= link_to  @b.publisher.name, publisher_path(@b.publisher), target: "_blank" %></p>
                <p>Pages: <%= @b.pages %></p>
                <p>Library Link: <%= link_to request.original_url, request.original_url %></p>
                <%= show_info_for(@b, [:pages, :language, :year, :volume, :isbn, :keywords, :about ]).html_safe %>
            </div>
            <div class="col s12 m4 l4">
                <ul class="collapsible popout">
                    <li>
                        <div class="collapsible-header">BOOK INFO</div>
                        <div class="collapsible-body">
                            <h4>Title: <%= @b.title %></h4>
                            <label>Book Description: </label>
                            <p><%= @b.about %></p>
                            <%= citation_btn_for(@b) %>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <h3 class="title">Gain Access</h3>
            <hr>
            <% if @b.downloadable || @b.pdf != nil %>
                <%= link_to  "Download PDF", url_for(@b.pdf), target: "_blank" %>
            <% else %>
                <p>Sorry, this file is not avalable at the moment.</p>
            <% end %>
        </div>
    </div>
</div>