<div class="row">
    <h2 class="title"><%= @p.title %></h2>
    <hr>
<div>
<div class="row">
    <div class="col s2">
        <%= image_tag  url_for("/assets/no-thumb.jpg"), style: "max-width: 150px; margin-bottom: 20px;" %>
    </div>
    <div class="col s6" style="float: left;">
        <p><label>Author(s):</label> <%= safe_join(@p.authors.map { |s| link_to  s.name, author_path(s.name) }, ", ").html_safe %></p>
        <p><label>Supervisor:</label> <%= link_to @p.supervisor.name, supervisor_path(@p.supervisor.name) if @p.supervisor.name %></p>
        <p><label>Library Link: </label><%= get_library_link(request) %></p>
        <%= show_info_for(@p, [ :language, :publication_year, :paper_type, :keywords, :downloadable, :university_name, :college_name ]).html_safe %>
        <p><label>Subjects: </label> <%= safe_join(@p.subjects.map { |s| link_to  s.name, subject_path(s.name) }, ",").html_safe %> </p>
    </div>
    <div class="col s4">
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header">PAPER INFO</div>
                <div class="collapsible-body">
                    <h4>Title: <%= @p.title %></h4>
                    <p class=""><%= @p.about.html_safe %></p>
                </div>
            </li>
        </ul>
    </div>
</div>

<%= render partial: "shared/download", locals: {params: params, file: @p.pdf} %>