<%= carousel_for( @i.university.photos ) %>
<br>
<br>
<br>
<div class="about">
    <h2><%= document_cover_for(@i.logo) %> <%= @i.name %> in <%= @i.university.name %> </h2>
    <p><label>About:</label></p>
    <p class="lead "> <%= @i.about.html_safe %></p>
    <p><label>Address:</label> <%= Geocoder.search([@i.lat, @i.lng]).first.display_name %></p>
    <p><label>Departments: </label></p>
    <div class="row">
        <% @i.schools.each do |c| %>
            <%= card_for(c.name, 
                        {},
                        country_university_college_school_path(@university.country, @university, @i, c), 3, c.logo) %>
        <% end %>
    </div>
    <p><label>Location:</label></p>
    <%= location_map_for( @i.lat, @i.lng )%>
</div>