<%= carousel_for( @i.university.photos ) %>
<br>
<br>
<br>
<div class="about">
    <h2><img src="<%= url_for(@i.university.logo)%>" width="50px"/> <%= @i.name %> in <%= @i.university.name %> </h2>
    <p><b>About:</b></p>
    <p class="lead"> <%= @i.about %></p>
    <p><b>Address:</b> <%= Geocoder.search([@i.lat, @i.lng]).first.display_name %></p>
    <p><b>Departments: </b></p>
    <div class="row">
        <% @i.schools.each do |c| %>
            <%= card_for(c.name, 
                        {},
                        country_university_college_school_path(@university.country, @university, @i, c), 3, c.logo) %>
        <% end %>
    </div>
    <p><b>Location:</b></p>
    <%= location_map_for( @i.lat, @i.lng )%>
</div>