<div class="row">
    <h2 class="title"><%= @j.title %> <%= "(#{@j.arabic_title})" if !@j.arabic_title.empty? %></h2>
    <hr>
</div>
<% title "#{@j.title}" %>
<div class="row">
    <div class="col-sm-2">
        <%= document_cover_for(@j.cover) %>
    </div>
    <div class="col-sm-6" style="float: left;">
        <p><label>Publisher:</label> <%= link_to  @j.publisher.name, publisher_path(@j.publisher), target: "_blank" if @j.publisher %></p>
        <p><label>Coverage:</label> <%= "#{@j.coverageFrom} - #{@j.coverageTo}" %></p>
        <p><label>Library Link:</label> <%= get_library_link(request) %></p>
        <%= show_info_for(@j, [ :language, :isbn, :keywords ]).html_safe %>
        <p><label>Subjects: </label> <%= safe_join(@j.subjects.map { |s| link_to  s.name, subject_path(s.name) }, ", ").html_safe %> </p>
    </div>
    <div class="col-sm-4">
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header">JOURNAL INFO</div>
                <div class="collapsible-body">
                    <h4>Title: <%= @j.title %></h4>
                    <p class=""><%= @j.about.html_safe %></p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <h3 class="title">All Issues</h3>
    <hr>
    <% if @issues.length > 0 %>
        <ul class="collapsible">
            <% @issues.each_pair  do |decade, issues_per_decade| %>
                <li>
                    <div class="collapsible-header"><%= "#{decade}0's" %></div>
                    <div class="collapsible-body">
                        <% issues_per_decade.group_by {|issue| issue.year }.each do |year, issues_per_year| %>
                            <h6><%= year %> <%= "(#{@j.collection_type} #{issues_per_year.first.collection_number})" if @j.collection_type && issues_per_year.first.collection_number %></h6>
                            <% issues_per_year.each do |i| %>
                                <p style="margin-left: 10px;">
                                    - <%= link_to  "Issue No. #{i.number}, #{i.year}, pp #{i.pageFrom} - #{i.pageTo}",
                                        issue_path(i) %>
                                </p>
                            <% end %>
                        <% end %>
                    </div>
                </li>
            <% end %>  
        </ul>
    <% else %>
        <p>There are no issues for this journal.</p>
    <% end %>
</div>