<div class="row">
    <h2 class="title"><%= @j.title %> <%= "(#{@j.arabic_title})" if @j.arabic_title %></h2>
    <hr>
<div>
<div class="row">
    <div class="col s2">
        <%= document_cover_for(@j.cover) %>
    </div>
    <div class="col s6" style="float: left;">
        <p><label>Publisher:</label> <%= link_to  @j.publisher.name, publisher_path(@j.publisher), target: "_blank" if @j.publisher %></p>
        <p><label>Coverage:</label> <%= "#{@j.coverageFrom} - #{@j.coverageTo}" %></p>
        <p><label>Library Link:</label> <%= get_library_link(request) %></p>
        <%= show_info_for(@j, [ :language, :isbn, :keywords ]).html_safe %>
        <p><label>Subjects: </label> <%= safe_join(@j.subjects.map { |s| link_to  s.name, subject_path(s.name) }, ",").html_safe %> </p>
    </div>
    <div class="col s4">
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header">JOURNAL INFO</div>
                <div class="collapsible-body">
                    <h4>Title: <%= @j.title %></h4>
                    <p><%= @j.about %></p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <h3 class="title">All Issues</h3>
    <hr>
    <% if @issues.length > 0 %>
        <ul class="collapsible">
            <% @issues.each_pair  do |year, issues| %>
                <li>
                    <div class="collapsible-header"><%= year %></div>
                    <div class="collapsible-body">
                        <% issues.each do |i| %>
                            <p>
                                <%= link_to  "Issue No. #{i.number}, #{i.year}, pp #{i.pageFrom} - #{i.pageTo}",
                                    issue_path(i) %>
                            </p>
                        <% end %>
                    </div>
                </li>
            <% end %>  
        </ul>
    <% else %>
        <p>There are not issues for this journal.</p>
    <% end %>
</div>