<%= form_with(model: @c, local: true) do |form| %>
    <% if @c.errors.any? %>
        <div>
            <h2>
                <%= pluralize(@c.errors.count, "error") %>
                prohibited this country from being saved:
            </h2>
            <ul>
                <% @c.errors.full_messages.each do |message| %>
                    <li> <%= message %> </li>
                <% end %>
            </ul>
        </div>
    <%end%>

    <p>
        <%= form.label :code %>
        <%= form.text_field :code %>
    </p>

    <p>
        <%= form.label :about %>
        <%= form.text_field :about %>
    </p>

    <p>
        <%= form.submit %>
    </p>

<% end %>