<% title "#{@i.name}" %>
<%= carousel_for( @i.photos ) %>
<br>
<br>
<br>
<div class="about">
    <h2><%= @i.name %>: </h2>
    <p class="lead "> <%= @i.about.html_safe %></p>
    <p><label>Address:</label> <%= Geocoder.search([@i.lat, @i.lng]).first.display_name %></p>
    <p><label>Website:</label> <%= link_to  "Visit website", @i.website, target: "_blank" %></p>
    <p><label>Ticket Price:</label></p>
    <p><%= @i.ticket_price %></p>
    <p><label>Working Hours:</label></p>
    <p><%= @i.working_hours.html_safe %></p>
    <p><label>Location:</label></p>
    <%= location_map_for( @i.lat, @i.lng )%>
</div>