<%= carousel_for( @country.photos ) %>
<nav>
    <div class="container nav-wrapper">
        <a href="" data-target="mobile-sub-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul>
            <li><%= link_to  "Museums", country_museums_path, class: 'nav-item nav-link' %></li>
            <li><%= link_to  "Conferences", country_conferences_path, class: 'nav-item nav-link' %></li>
            <li><%= link_to  "Scholarships", country_scholarships_path, class: 'nav-item nav-link' %></li>
            <li><%= link_to  "Excavations and Surveys News", country_posts_path, class: 'nav-item nav-link' %></li>
            <li><%= link_to  "Universities", country_universities_path, class: 'nav-item nav-link' %></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-sub-nav">
    <li><%= link_to  "Museums", country_museums_path %></li>
    <li><%= link_to  "Conferences", country_conferences_path %></li>
    <li><%= link_to  "Scholarships", country_scholarships_path %></li>
    <li><%= link_to  "Excavations and Surveys News", country_posts_path %></li>
    <li><%= link_to  "Universities", country_universities_path %></li>
</ul>

<div class="container content">

    <div class="about-country">
        <h2>About <%= @country.name %>: </h2>
        <p class="lead"><%= @country.about %></p>
    </div>
    <% @country.cities.each do |c| %>
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="<%= url_for(c.photos.first) %>" alt="<%= c.name %>">
                        <span class="card-title"><%= c.name %></span>
                    </div>
                    <div class="card-content">
                        <p><%= c.tagline %></p>
                    </div>
                    <div class="card-action">
                        <%= link_to  "View Sites in " + c.name,
                        country_city_sites_path(@country, c) %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>

    <br>
    <br>
    <br>

    <h3>Map of cities in <%= @country.name %></h3>
    <br>
    <div class="row">
        <div class="col-sm-8">
            <div>
                <div id="map" style='width: 100%; height: 90vh;'></div>
            </div>
        </div>
        
        <div class="col-sm-4">
            <% @country.cities.each do |c| %>
                <%= link_to  c.name, country_city_sites_path(c, @country),
                class: "text-uppercase text-left" %>
                <br>
            <% end %>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        markers_json = <%=raw @hash.to_json %>;
        console.log(markers_json)
        handler = Gmaps.build('Google');
        handler.buildMap({ 
            provider: {
                disableDefaultUI: true
            },
             internal: {
                 id: 'map'
                }
            }, function(){
                markers = handler.addMarkers(markers_json);
                handler.bounds.extendWith(markers);

                links = []
                for (let i = 0; i < markers.length; i++) {
                    links.push(markers_json[i].link);
                    google.maps.event.addListener(markers[i].getServiceObject(), 'click', function(){
                    window.open(links[i], "_self");
                    })
                }
                handler.fitMapToBounds();
            });
    })
</script>