<%= carousel_for( @city.photos ) %>

<br>
<br>
<br>

<div class="container">
    <div class="city-tagline">
        <h2><%= @city.name %>: <%= @city.tagline %></h2>
    </div>
    <% @sites.each do |c| %>
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="<%= url_for(c.photos.first) %>" alt="<%= c.name %>">
                        <span class="card-title"><%= c.name %></span>
                    </div>
                    <div class="card-content">
                        <p><%= c.about %></p>
                    </div>
                    <div class="card-action">
                        <%= link_to  "View Site",
                country_city_site_path(c.id, c.city_id, c.country_id) %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>

</div>