<div class="container">

    <h1 class="page-title">Universities in <%= @country.name %></h1>

    <% @country.universities.each do |i| %>
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="<%= url_for(i.photos.first) %>" alt="<%= i.name %>">
                        <span class="card-title"><%= i.name %></span>
                    </div>
                    <div class="card-content">
                        <img width="50px" src="<%= url_for(i.logo) %>" alt="<%= i.name %>'s Logo">
                        <h4><%= i.name %></h4>
                        <p><%= i.about.truncate(27) %></p>
                    </div>
                    <div class="card-action">
                        <%= link_to  "View Colleges in " + i.name,
                        country_university_colleges_path(@country, i) %>
                        <br>
                        <%= link_to  "Learn More About " + i.name,
                        country_university_path(@country, i) %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>