<%= carousel_for( @i.photos ) %>
<br>
<br>
<br>
<div class="about">
    <h2><img src="<%= url_for(@i.logo)%>" width="50px"/>   <%= @i.name %> </h2>
    <p><label>About:</label></p>
    <p class="lead "> <%= @i.about.html_safe %></p>
    <p><label>Address:</label> <%= Geocoder.search([@i.lat, @i.lng]).first.display_name %></p>
    <p><label>Location:</label></p>
    <%= location_map_for( @i.lat, @i.lng )%>
    <p><label>Colleges:</label></p>
    <div class="row">
        <% @i.colleges.each do |c| %>
            <%= card_for(c.name, 
                        {},
                        country_university_college_path(@i.country, @i, c), 4, c.logo) %>
        <% end %>
    </div>
</div>